@model IEnumerable<RecipeReference.Recipe>

@{
    ViewData["Title"] = "Cuda na Widelcu";
}

<h1>Index</h1>
@if(Model is not null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.ActionLink("Details", "Detail", new {  id=item.id  })
            </td>
        </tr>
}
    </tbody>
</table>
}